[core]
	excludesfile = /Users/EM/.gitignore_global
	editor = nvim
	pager = less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = m43d4k
	email = m43d4k@gmail.com
[color]
	ui = true
[commit]
	template = ~/.gitmessage.txt
[ghq]
	root = ~/.ghq
[merge]
	ff = false
[pull]
	ff = only
